<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
  <!--<div fxFlex="100">
    <div>
      <h3>{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div>-->
  <div fxFlex="40" *ngIf="dish">
  
      <mat-card >
       <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
      <div fxFlex [hidden]="dish || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
        </div>
         <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  </div> 
  <div fxFlex="40" *ngIf="dish">

    <mat-list >
      <div>
        <h2>Comments</h2>
      </div>
      <mat-list-item *ngFor="let d of dish.comments">
        <p matLine>{{d.comment}}
        </p>
        <p matLine>{{d.rating}} Stars
        </p>
        <p matLine>
          -- {{d.author}} {{d.date | date}}
        </p>
      </mat-list-item>
    </mat-list>
  </div>

</div>